<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="./vue.min.js"></script>
    <link rel="stylesheet" href="./style.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>Techno</title>
</head>
<body>
    <div id="app">

        <section class="modal" v-if="produto" @click="fecharModal">
            <div class="modal_container">
                <div class="modal_img">
                    <img :src="produto.img" :alt="produto.nome">
                </div>
                <div class="modal_dados">
                    <button @click="produto = false" class="modal_fechar">X</button>
                    <span class="modal_preco">{{produto.preco}}</span>
                    <h2 class="modal_titulo">{{produto.nome}}</h2>
                    <p class="">{{produto.descricao}}</p>
                    <button class="modal_btn">Adicionar Item</button>
                </div>
                <div class="avaliacoes">
                    <h2 class="avaliacoes_subtitulo">Avaliações</h2>
                    <ul>
                        <li v-for="review in produto.reviews" class="avaliacao">
                            <p class="avaliacao_descricao">{{review.descricao}}</p>
                            <p class="avaliacao_usuario">{{review.nome}} | {{review.estrelas}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="produtos">
            <div v-for="produto in produtos" @click="abrirModal(produto.id)" :key="produto.id" class="produto">
                <img :src="produto.img" :alt="produto.nome" class="produto_img">
                <div class="produto-info">
                    <span class="produto-preco">{{produto.preco | numeroPreco}}</span>
                    <h2 class="produto-nome">{{produto.nome}}</h2>
                </div>
            </div>
        </section>
    </div>

    <script src="./app.js"></script>
</body>
</html>